body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}
/* Header */
.header {
  padding: 10px;
  background: #dddddd;
  color: #dddddd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header div#right {
  text-align: right;
  margin-top: 30px;
}

.header li#right {
  display: inline;
  font-size: 20pt;
}
.header li#right a:hover {
  color: white;
}
.header li#left {
  float: left;
  padding-left: 5%;
}

.header li#left img{
  max-height: 100px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}
.header li {
  display: block;
  padding-right: 20px;
}

.header .icon {
  font-size: 35;
  display: none;
}

a {
  text-decoration: none;
  color: green;
}

@media screen and (max-width: 800px) {
  .header a {
    display: none;
  }
  .header a.icon {
    float: right;
    display: block;
    padding-right: 3%;
  }
}

@media screen and (max-width: 800px) {
  .header.responsive {
    position: sticky;
  }
  .header.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .header.responsive li#right {
    display: inline;
  }
  .header.responsive a {
    display: block;
    text-align: right;
    padding-right: 3%;
  }
}

/* top image  */
.top-container {
  /* The image used */
  background-image: url("../image/sample2.jpg");

  min-height: 30%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

footer {
  text-align: center;
  padding: 35px;
  background-color: rgb(0, 51, 102);
  color: white;
}

footer a{
  font-size: 22px;
  color: white; 
  
  margin: 0px 10px 0px 10px;
}
