.content {
  padding: 0px;
}
.content .intro {
  text-align: center;
  padding: 125px 10% 125px 10%
}

.content .intro h1 {
  font-size: min(8vw, 90px);
  margin: 0%;
}
.content .intro h2 {
  font-size:  min(7vw, 75px);
  margin: 0%;
}

.content .intro p {
  font-size: min(4vw, 35px);
  margin-top: 75px;
}

.content .style1 {
  overflow: hidden;
  background-color: #e7ffe7;
}
.content .style1 img {
  max-width: 60%;
  float: right;
  position: center;
  padding-left: 10px
}
.content .style1 .description {
  padding-left: 3%;
  max-width: 45%;
}

.content .style1 h1 {
  font-size: min(5.5vw, 50px);
}

.content .style1 p {
  font-size: min(3.5vw, 30px);
}

.content .style2 {
  overflow: hidden;
  background-color: #ffffff;
}
.content .style2 img {
  max-width: 60%;
  float: left;
  position: center;

}
.content .style2 .description {
  max-width: 45%;
  float: right;
  text-align: left;
  padding-right: 3%;
}

.content .style2 h1 {
  font-size: min(5.5vw, 50px);
}

.content .style2 p {
  font-size: min(3.5vw, 30px);
}

.content .bottom {
  text-align: center;
  font-size: min(3vw, 30px);
  margin: 100px 0px 100px 0px;
}

@media screen and (max-width: 800px){
  .content .style1 img{
    float: none;
    width:94vw;
    max-width: 100%;
    padding: 0% 3% 0% 3% ;
  }
  .content .style1 .description{
    max-width: fit-content;
    padding: 0% 3% 0% 3%;
  }
  .content .style2 img{
    float: none;
    width:94vw;
    max-width: 100%;
    padding: 0% 3% 0% 3% ;
  }
  .content .style2 .description{
    float: none;
    max-width: fit-content;
    padding: 0% 3% 0% 3%;
  }
}