.content{
    padding: 5% 15% 5% 15%;
}
.first h1{
    font-size: 40px;
}

.first {
    padding-left: 5%;
    font-size: 25px
}

.second p{
    font-size: 30px;
    color: red;
}

.second a{
    font-weight: bold;
}