.content .title {
    padding-top: 5%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
.first {
    padding: 5%;
}
.video {
    width: 100%;
    height: 40vw;
}